<%- include('layout/header') %>


<div class="card" style="padding: 5% 25%">
  <form  method="post" action="/update/<%= user._id %>" >
    <h3 style="text-align: center">Edit Image - ( <%=  user.name %>) Details</h3>
    <div class="form-group">
      <label >Image Title</label>
      <input
        type="text"
        class="form-control"
        name="Title"
        placeholder="Enter Title"
        value= "<%= user.name %>"
      />
    </div>
    <div class="form-group">
      <label >Image url</label>
      <input type="text" name="URL" class="form-control" placeholder="URL"  value= "<%= user.url %>"  />
    </div>
    <div class="form-group">
      <label >Details</label>
      <input
        type="text"
        name="Details"
        class="form-control"
        placeholder="Details"
        value= "<%= user.details %>"
      />
    </div>
    <div class="form-group form-check"></div>
    <center>
        <button type="submit" class="btn btn-success">Submit</button>
    </center>
  </form>
</div>

<%- include('layout/footer')%>
