<%- include('layout/header') %>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  body {
    align-items: center;
    background: #16384c;
  }

  .container .card {
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    
  }

  .container .card:hover {
    height: 350px;
  }

  .container .card .imgContainer {
    position: relative;
    width: auto;
    height: auto;
    
    top: -10px;
    left: auto;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }

  .container .card .imgContainer img {
    max-width: 200px;
    border-radius: 4px;
  }

  .container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 60px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
   
  }

  .container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
    transition-delay: 0.3s;
  }

  @media (max-width: 330px) {
    .container .card .imgContainer {
      left: -2px;
    }
  }
</style>

<div class="container" style="padding-top: 2%">

  <div class="row">
    <div class="col-lg-12">
     
      <div
        class="
          container
          d-flex
          align-items-center
          justify-content-center
          position-relative
          flex-wrap
        "
      >

      <% if( users != '') {%>
        <% users.forEach(e => {   %>  
          
          <div class="card d-flex position-relative flex-column">
            <div class="imgContainer">
              <center><img
                src= <%= e.url %>
              />

              
            </center>
            <center style="padding: 2% 3% 3% 2%;" >  <a href="/edit/<%=e._id%>" ><button class="btn btn-outline-success" ><i class="fas fa-edit" ></i> </button>   </a>   
              
              <a href="/delete/<%=e._id%>"> <button class="btn btn-outline-danger"> <i class="fas fa-trash"></i></button> </a>  
             
</center>
          
              
            </div>
            <div class="content">
              <h2><%= e.name %></h2>
                 
              
  
              <p>
               <%= e.details %>
              </p>
            </div>
          </div>
          
          <%}) %>
       
      <% } else {%>
         <h1 class="text-center text-secondary mt-5"> Gallary Empty</h1>
        <% } %>
       
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer')%>
